.resultMain {
  background: #154360;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  color: #b3b6b7;
  padding: 10px;
}

.resultMain .table {
  color: #b3b6b7;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: -10px;
  margin-top: -10px;
}

table.borderless td,
table.borderless th {
  border: none !important;
}

.td-title {
  width: 8rem;
}

hr {
  border-top: 1px solid #85929e;
}

h1,
h5 {
  color: #aed6f1;
}

.btn-link {
  color: #3498db;
  padding-left: 8px;
}

.btn-link:hover {
  color: #85c1e9;
}

.geoLocationMain .leaflet-container {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}
.img-weather {
  position: absolute;
  margin-left: -6px;
  margin-top: -10px;
}
.today-weather h6 {
  left: 0;
  margin-bottom: 0px;
}
.today-weather-visual {
  margin-top: -25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h6::first-letter {
  text-transform: capitalize;
}
h1,
h6 {
  padding-bottom: 1px;
}
.today-weather h1 {
  font-size: 64px;
  margin-top: -10px;
  text-align: left;
  padding-left: 10px;
  margin-left: 80px;
}
.weather-extras {
  margin: -10px -10px 20px 10px;
}

.weather-extras h6 {
  margin-top: -34px;
  margin-left: 60px;
}
.coordinates {
  margin-right: 10px;
}
