.forecastMain {
  background: #154360;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  padding: 10px;
}

.forecastMain .weather-details {
  position: relative;
  margin-left: 70px;
  margin-top: 0px;
}
.forecastMain .img-weather {
  position: absolute;
  margin-top: -30px;
  margin-left: -16px;
}

.forecastMain h1 {
  text-align: right;
  margin-right: 4px;
  font-size: 28px;
  margin-top: -4px;
}

.forecastMain h6 {
  color: #aed6f1;
}

.forecastMain .weather-details h6 {
  color: #b3b6b7;
}
