body {
  font-family: "Andika";
  background: #013751;
  min-height: 100%;
  margin-bottom: 40px;
}
.weatherBody {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  right: 10px;
}
.modal {
  top: 25%;
}
.searchMain {
  overflow: hidden;
  height: 62px;
}
